

<section layout:decorate="~{layout}" ng-app="pharmaxielweb" ng-controller="profilController">
    <!--main content wrapper-->
    <!--    menu de la page-->
    <span layout:fragment="custum-menu">
         <!--            menu de l'inventaire-->
        <li class="nav-item" ng-if="appUser.roles[0]=='AGENT' || appUser.roles[0]=='ADMIN' || appUser.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="/"><i class="fa fa-home"></i>&nbsp; Accueil</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="appUser.roles[0]=='ADMIN' || appUser.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="auth"><i class="fa fa-key"></i>&nbsp; Authentification</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="appUser.roles[0]=='ADMIN' || appUser.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="inventaire"><i class="fa fa-list-ol"></i>&nbsp; Inventaires</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="appUser.roles[0]=='ADMIN' || appUser.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="chargement"><i class="fa fa-list-ol"></i>&nbsp; Chargements</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="appUser.roles[0]=='AGENT' || appUser.roles[0]=='ADMIN' || appUser.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="comptage"><i class="fa fa-adjust"></i>&nbsp; Comptage</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="appUser.roles[0]=='ADMIN' || appUser.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="ecarts"><i class="fa fa-plus"></i>&nbsp; Gestion des écarts</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="appUser.roles[0]=='ADMIN' || appUser.roles[0]=='GESSYS'">
            <a class="nav-link text-light"  href="stocks"><i class="fa fa-upload"></i>&nbsp; Mise à jour du stock</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="appUser.roles[0]=='AGENT' || appUser.roles[0]=='ADMIN' || appUser.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="historique"><i class="fa fa-history"></i>&nbsp; Historiques</a>
        </li>

      </span>

        <div layout:fragment="custum-permalien" >
            <div class="row">
                <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 card-header text-center mt-3 mb-3">
                    <h4 style="letter-spacing: 1px;text-transform: uppercase"> INVENTAIRE<sup>+</sup> > COMPTAGE</h4>
                    <div layout:fragment="appUsername">
                        <h4 class="text-center text-danger">{{appUser.nomPrenom}}</h4>
                    </div>
                </div>
            </div>
        </div>

    <!--    contenu de la page-->
    <div layout:fragment="custum-content">

        <div class="row justify-content-center" ng-show="schowEditForm==false">
            <div class="col-sm-6 p-2 text-center">
                <div class="card card-shadow mb-4">
                    <div class="card-header">
                        <div class="row justify-content-center"><h3 class="font-weight-bold">MON PROFIL</h3></div>
                        <div class="row justify-content-center"><i class="fa fa-appUser-circle-o fa-4x"></i></div>
                        <div class="row justify-content-center">
                            <a class="dropdown-item text-danger" th:href="@{/logout}">Déconnexion</a>
                        </div>
                    </div>
                    <div class="card-body">Nom d'utilisateur : <span class="text-danger font-weight-bold">{{appUser.username}}</span></div>
                    <div>
                        <button class="btn btn-dark mb-4" ng-click="loadappUser(appUser.nomPrenom);schowEditForm=true"> Modifier mon mot de passe </button>
                    </div>
                </div>
            </div>
        </div>
        <!--        formulaire d'edition du mot de  passe -->
        <div class="row justify-content-center" ng-show="schowEditForm==true">
            <div class="col-sm-6">
                <div class="card card-shadow mb-4">
                    <div class="card-header border-0">
                        <div class="custom-title-wrap bar-warning">
                            <div class="custom-title">Modification du mot de passe !</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" name="fnForm">
                            <div class="form-group-sm">
                                <label><span class="text-danger">*</span> Nom d'utilisateur</label>
                                <input type="text" ng-model="appUser.username" title="Ce champs est reservé à la saisie du nom d'utilisateur" class="form-control form-control-sm mb-1" disabled required>
                            </div>
                            <div class="form-group-sm">
                                <label><span class="text-danger">*</span> Mot de passe</label>
                                <input type="password" ng-model="appUser.password" title="Mot de passe" class="form-control form-control-sm mb-1" required ng-pattern="pat">
                                <span ng-show="fnForm.password.$error.pattern" class="text-danger">
                                        Mot de passe non valide (Au moins : 9 caractères , 1 Majuscule(s), 1 caractère spécial dans @$!%*#_?& ).
                                </span>
                            </div>
                            <div class="form-group-sm">
                                <label><span class="text-danger">*</span> Confirmez le mot de passe</label>
                                <input type="password" ng-model="repass"  title="Confirmez le mot de passe" class="form-control form-control-sm mb-1" required
                                       ng-keyup="compare(repass)" name="repass"
                                       ng-pattern="pat">
                                <span ng-show="repass!=''">
<!--                                        <span ng-show="isconfirm && fnForm.repass.$dirty">-->
                                        <small>Correspondance des mots de passe : <span ng-show="appUser.password==repass && appUser.password!=null" class="text-success"><i class="fa fa-check-circle-o text-success fa-2x"></i></span> <span ng-show="appUser.password!=repass"  class="text-danger"><i class="fa fa-times-circle-o text-danger fa-2x"></i></span></small>
                                    </span>
                            </div><br>
                            <form-row>
                                <button ng-confirm-click="Modifier le mot de passe ?" confirmed-click="createUser();schowEditForm=false" ng-disabled="appUser.password!=repass || appUser.password==null || repass==null " class="btn btn-sm btn-dark mb-2 form-control" ><i class="fa fa-check fa-2x"></i> Valider </button>
                                <button ng-click="resetappUserData();repass=null;schowEditForm=false" class="btn btn-sm btn-outline-dark mb-2 form-control" type="button"><i class="fa fa-times fa-2x"></i> Annuler </button>
                            </form-row>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


