<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Conventionnement | users management</title>
    <span layout:fragment="permalink"> Paramétrage des comptes utilisateur</span>
</head>

<body class="left-sidebar-fixed" ng-app="conventionApp" ng-controller="userController">
<section layout:fragment="costum-content">
    <!--main content wrapper-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="card card-shadow mb-4">
                    <div class="card-header border-0">
                        <div class="custom-title-wrap bar-warning">
                            <div class="custom-title">Définissez le rôle de l'utilisateur</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" name="fnForm" enctype="multipart/form-data">
                            <div class="form-group-sm mb-2">
                                <label><span class="text-danger">*</span> Choisissez l'utilisateur</label>
                                <select class="form-control" ng-model="var1" name="lutilisateur" required>
                                    <optgroup label="Selectionnez un utilisateur"></optgroup>
                                        <option ng-repeat="opt in allUsersData" value="{{opt.username}}">
                                            {{opt.username }}
                                        </option>
                                </select>
                            </div>
                            <div class="form-group-sm mb-2">
                                <label><span class="text-danger">*</span> Attribuez un rôle à l'utilisateur </label>
                                <select class="form-control" ng-model="var2" name="lerole" required>
                                    <optgroup label="Selectionnez le rôle à attribuer"></optgroup>
                                    <option ng-repeat="r in roles" value="{{r.roleName}}">
                                        {{r.definition}}
                                    </option>
                                </select>
                            </div>
                            <form-row>
                                <button ng-click="addRoleToUser(var1,var2);var1=null;var2=null" ng-disabled="fnForm.lutilisateur.$invalid || fnForm.lerole.$invalid" class="btn btn-sm btn-success mb-2 form-control" ><i class="fa fa-check fa-2x"></i> Valider la configuration</button>
                                <button class="btn btn-sm btn-primary mb-2 form-control" type="reset"><i class="fa fa-times fa-2x"></i> Annuler </button>
                            </form-row>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-shadow mb-4">
                    <div class="card-header border-0">
                        <div class="custom-title-wrap bar-primary">
                            <div class="custom-title">Liste des utilisateurs et rôles</div>
                        </div>
                    </div>
                    <div class="pt-3 pb-4">
                        <div class="table-responsive">
                            <table ng-table="allUsersTable" class="display table table-bordered table-striped" cellspacing="0">
                                <tbody>
                                    <tr ng-repeat="d in data">
                                        <td style="width: 5%;text-align: center;" sortable="'id'" data-title="'N'" filter="{ 'id' : 'text'}">{{$index + 1}}</td>
                                        <td sortable="'username'" data-title="'Nom d\'utilisateur'" filter="{ 'username' : 'text'}">{{d.username}}</td>
                                        <td data-title="'Role'" >{{d.appRoles[0].definition}}</td>
<!--                                        <td data-title="'Editer'"><button class="btn btn-sm btn-dark form-control"  ng-click="loadUser(d.username)"><i class="fa fa-edit fa-2x"></i> Editer </button></td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>

