<!--formulaire de suivi du dossier-->

<section layout:decorate="~{layout}" ng-app="pharmaxielweb" ng-controller="chargementController">

    <span layout:fragment="custum-menu">
         <!--            menu de l'inventaire-->
        <li class="nav-item" ng-if="user.roles[0]=='AGENT' || user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="/"><i class="fa fa-home"></i>&nbsp; Accueil</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="auth"><i class="fa fa-key"></i>&nbsp; Authentification</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="chargement"><i class="fa fa-list-ol"></i>&nbsp; Chargements</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="inventaire"><i class="fa fa-list-ol"></i>&nbsp; Inventaires</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='AGENT' || user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="comptage"><i class="fa fa-adjust"></i>&nbsp; Comptage</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="ecarts"><i class="fa fa-plus"></i>&nbsp; Gestion des écarts</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light"  href="stocks"><i class="fa fa-upload"></i>&nbsp; Fichier de mise à jour</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='AGENT' || user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="historique"><i class="fa fa-history"></i>&nbsp; Historiques</a>
        </li>
    </span>

    <div layout:fragment="custum-permalien" >

        <div class="row">
            <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 card-header text-center mt-3 mb-3">
                <h4 style="letter-spacing: 1px;text-transform: uppercase"> INVENTAIRE<sup>+</sup> > CHARGEMENTS</h4>
                <div layout:fragment="username">
                    <h4 class="text-center text-danger">{{user.nomPrenom}}</h4>
                </div>
            </div>
        </div>

    </div>

    <!--    contenu de la page-->
    <div layout:fragment="custum-content">

        <div class="mt-2">
            <div class="card card-shadow mb-4">
                <div class="card-header border-0">
                    <div class="custom-title-wrap bar-primary">
                        <div class="custom-title">Chargement des fichiers d'import de données</div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="pt-2">
                        <div class="table-responsive">
                            <table class="display table table-striped" cellspacing="0">
                                <thead>
                                    <tr>
                                        <div class="form-group text-center">
                                            <label>Chargement des données &nbsp;&nbsp;&nbsp;</label>
                                            <select class="col-sm-5 form-control-sm" ng-model="charge">
                                                <optgroup label="Type de données à charger"></optgroup>
                                                <option ng-value="0"> Liste des produits</option>
                                                <option ng-value="1"> Liste des stocks de produits</option>
                                                <option ng-value="2"> Liste des fournisseurs</option>
                                                <option ng-value="3"> Liste des localisations</option>
                                            </select>
                                            <label class="text-danger" ng-show="charge==null" ng-if="charge==null">Champ requis</label>
                                            <input type="reset" ng-show="charge!=null" ng-click="charge=null" class="btn btn-sm form-control-sm btn-outline-dark">
                                        </div>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-show="charge==0">
                                        <td>
                                            <span class="text-danger">*</span> Chargez la liste des produits ( <a ng-href="/chargement/inventaire/model/model_des_produits">Model des produits</a> )
                                        </td>
                                        <td>
                                            <input type="file" name="importProduit" file-model="importProduit" class="form-control font-weight-bold"/>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-pill btn-dark" ng-confirm-click="Lancer le chargement de la liste des produits ?" confirmed-click="chargerProduits();"><i class="text-warning fa fa-download"></i> Lancer le chargement</button>
                                        </td>
                                    </tr>
                                    <tr ng-show="charge==1">
                                        <td>
                                           <span class="text-danger">*</span> Chargez la liste des données en stock ( <a ng-href="/chargement/inventaire/model/model_des_produits_en_stock">Model des produits en stock</a> )
                                        </td>
                                        <td>
                                            <input type="file" name="importStockProduit" file-model="importStockProduit" class="form-control font-weight-bold"/>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-pill btn-dark" ng-confirm-click="Lancer le chargement de la liste des données de stock ?" confirmed-click="chargerProduitStock();"><i class="text-warning fa fa-download"></i> Lancer le chargement</button>
                                        </td>
                                    </tr>
                                    <tr ng-show="charge==2">
                                        <td>
                                            <span class="text-danger">*</span> Chargez la liste des fournisseurs ( <a ng-href="chargement/inventaire/model/fournisseur_model_pour_import"> Model des données de fournisseur</a> )
                                        </td>
                                        <td>
                                            <input type="file" name="importFournisseur" file-model="importFournisseur" class="form-control font-weight-bold"/>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-pill btn-dark" ng-confirm-click="Lancer le chargement de la liste des fournisseurs ?" confirmed-click="chargerFournisseurs();"><i class="text-warning fa fa-download"></i> Lancer le chargement</button>
                                        </td>
                                    </tr>
                                    <tr ng-show="charge==3">
                                        <td>
                                            <span class="text-danger">*</span> Chargez la liste des localisations ( <a ng-href="/chargement/inventaire/model/localisation_model_pour_import">Model des données de localisation</a> )
                                        </td>
                                        <td>
                                            <input type="file" name="importLocalisation" file-model="importLocalisation" class="form-control font-weight-bold"/>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-pill btn-dark" ng-confirm-click="Lancer le chargement de la liste des localisations ?" confirmed-click="chargerLocalisations();"><i class="text-warning fa fa-download"></i> Lancer le chargement</button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
