<!--formulaire de suivi du dossier-->

<section layout:decorate="~{layout}" ng-app="pharmaxielweb" ng-controller="traitementController">

    <!--    menu de la page-->
    <span layout:fragment="custum-menu">
         <!--            menu de l'inventaire-->
        <li class="nav-item" ng-if="user.roles[0]=='AGENT' || user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="/"><i class="fa fa-home"></i>&nbsp; Accueil</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="auth"><i class="fa fa-key"></i>&nbsp; Authentification</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="chargement"><i class="fa fa-list-ol"></i>&nbsp; Chargements</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="inventaire"><i class="fa fa-list-ol"></i>&nbsp; Inventaires</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='AGENT' || user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="comptage"><i class="fa fa-adjust"></i>&nbsp; Comptage</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="ecarts"><i class="fa fa-plus"></i>&nbsp; Gestion des écarts</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light"  href="stocks"><i class="fa fa-upload"></i>&nbsp; Fichier de mise à jour</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='AGENT' || user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="historique"><i class="fa fa-history"></i>&nbsp; Historiques</a>
        </li>
    </span>

    <div layout:fragment="custum-permalien" >
        <div class="row">
            <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 card-header text-center mt-3 mb-3">
                <h4 style="letter-spacing: 1px;text-transform: uppercase"> INVENTAIRE<sup>+</sup> > COMPTAGE <span>{{codeDouchette=="m"?"MANUEL":codeDouchette=="d"?"PAR DOUCHETTE":""}}</span></h4>
                <div layout:fragment="username">
                    <h4 class="text-center text-danger">{{user.nomPrenom}}</h4>
                </div>
            </div>
        </div>
    </div>

    <!--    contenu de la page-->
    <div layout:fragment="custum-content">

        <div class="row justify-content-between" ng-if="showForm==true">
            <div class="">
                <button class="btn btn-dark btn-pill mb-2" ng-click="toggleForm();listTraitement()"><i class="fa fa-edit fa-2x"></i> Cliquez pour choisir une localisation</button>
            </div>
            <div class="" ng-if="codeDouchette==='m'">
                <button class="btn btn-dark btn-pill mb-2" data-toggle="modal" data-target="#param"><i class="fa fa-plus fa-2x"></i> Ajouter un nouveau produit</button>
            </div>
        </div>

        <!--        formulaire de gestion-->
        <div class="mt-2" ng-show="showForm==false">
            <div class="card card-shadow mb-4">
                <div class="card-header border-0">
                    <div class="custom-title-wrap bar-primary">
                        <div class="custom-title">Comptage</div>
                    </div>
                </div>
                <div class="card-body">
                    <form name="fnForm">
                        <div class="row justify-content-around">
                            <div class="col-sm-3 form-group-sm">
                                <h1>{{userInventaire.numero}}</h1>
                                <h4 class="text-danger" ng-if="userInventaire.numero==null">Désolé, vous n'avez aucun inventaire actif !</h4>
                            </div>
                            <div class="col-sm-3 form-group-sm mb-2">
                                <label><span class="text-danger">*</span> Type Comptage</label>
                                <select class="form-control form-control-sm" ng-model="codeDouchette"  required>
                                    <optgroup label="Sélectionnez un type de comptage"></optgroup>
                                    <option ng-repeat="tc in typeComptage" value="{{tc.code}}">
                                        {{tc.libelle}}
                                    </option>
                                </select>
                                <label class="text-danger" ng-if="codeDouchette===''" >Champ requis</label>
                            </div>

                            <div class="col-sm-3 form-group-sm mb-2" ng-show="codeDouchette!=''">
                                <label><span class="text-danger">*</span> Localisation</label>
                                <select class="form-control form-control-sm" ng-model="chosedParticiper" ng-change="splitHandler();" required>
                                    <optgroup label="Sélectionnez une localisation"></optgroup>
                                    <option ng-repeat="opt in participerByUser" value="{{opt.localisation.id + '-' + opt.id}}">
                                        {{opt.localisation.libelle}}
                                    </option>
                                </select>
                                <label class="text-danger">Champ requis</label>
                            </div>
                            <div class="col-sm-2 form-group-sm mb-2">
                                <button class="btn btn-sm btn-pill btn-outline-dark mt-3" ng-show="chosedParticiper!=null" ng-click="listProduits(splitArray[0],splitArray[1]);toggleForm();autofocusExtraField();"><i class="fa fa-cogs fa-2x"></i> <b>Compter</b></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--        tableau de gestion -->
        <div class="row mt-xl-3" ng-if="showForm==false">
            <div class="col-sm-12">
                <div class="card card-shadow mb-4">
                    <div class="card-header border-0">
                        <div class="custom-title-wrap bar-primary">
                            <div class="custom-title">
                                <div class="row">
                                    <div class="col-sm-4">Suivi Du Comptage</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-2">
                         <div class="table-responsive">
                            <table ng-table="traitementsTable" class="display table table-striped" cellspacing="0">
                                <tbody>
                                    <tr ng-repeat="t in data" style="text-align: center" ng-if="t.participer.id==idPart">
                                        <td data-title="'N° Inventaire'">{{t.participer.inventaire.numero}}</td>
                                        <td data-title="'Localisation Concernée'">{{t.participer.localisation.code}}</td>
                                        <td data-title="'Produit(s)'">{{t.libelleProduit==null?t.stockProduit.produit.libelle:t.libelleProduit}}</td>
                                        <td data-title="'Fournisseur'">{{t.fournisseur.raisonSociale}}</td>
                                        <td data-title="'Date Péremption'">{{t.datePeremption | date:'dd/MM/yyyy'}}</td>
                                        <td data-title="'Quantité Inventoriée'" class="font-weight-bold">{{t.qteCompte}}</td>
                                        <td data-title="'Action(s)'" ><button class="btn btn-sm btn-pill btn-dark" ng-confirm-click="Voulez-vous vraiment supprimer << {{t.libelleProduit==null?t.stockProduit.produit.libelle:t.libelleProduit}} >> ?" confirmed-click="deleteTraitement(t.id);"><i class="text-warning fa fa-trash"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--        tableau de comptage -->
        <div class="row mt-xl-3" ng-if="showForm==true">
            <div class="col-sm-12">
                <div class="card card-shadow mb-4">
                    <div class="card-header border-0">
                        <div class="custom-title-wrap bar-primary">
                            <div class="custom-title">
                                <div class="row">
                                    <div class="col-sm-3">Recherchez un produit</div>
                                    <div class="col-sm-3 text-right">
                                        <label>
                                            Recherche par code unique
                                        </label>
                                    </div>
                                    <!-- Champs de recherche pour douchette -->
                                    <div class="col-sm-6" ng-show="codeDouchette==='d'">
                                        <form class="search-form">
                                            <input type="text" ng-focus="codeU"  ng-model="codeUniqueProduit" ng-change="produitDouchette(codeUniqueProduit);" class="search-field form-control form-control-sm" id="codeU"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    quand le comptage est manuel-->
                    <div class="pt-2" ng-if="showForm&&codeDouchette==='m'">
                        <div class="table-responsive">
                            <table ng-table="produitsTable" style="width: 100%" class="display table table-striped" cellspacing="0">
                                <tbody>
<!--                                ng-show="chosedParticiper==ps.idLocalisation"-->
                                    <tr ng-repeat="ps in dataP" style="text-align: center" >
                                        <form name="cForm">
                                            <td data-title="'Code Cip'" style="width: 5%" filter="{ 'codeCip' : 'text'}">
                                                {{ps.codeCip}}
                                            </td>
                                            <td data-title="'Produit'" style="width: 20%" filter="{ 'produit' : 'text'}">{{ps.produit}}</td>
                                            <td style="width: 10%" data-title="'Prix Vente'">
                                                <div class="form-group-sm">
<!--                                                    <small class="text-danger">{{ps.prixVenteStock}}</small>-->
                                                    <input ng-model="ps.prixVenteStock" name="prixVente" type="number" class="form-control form-control-sm text-center" required="required">
                                                </div>
                                            </td>
                                            <td style="width: 15%" data-title="'Fournisseur'">
                                                <div class="form-group">
<!--                                                    <small class="text-danger">{{ps.fournisseurStock}}</small>-->
                                                    <select class="form-control form-control-sm" ng-model="ps.fournisseurStock"  name="codeFournisseur" required="required">
                                                        <option ng-repeat="four in listFournisseurs" value="{{four.raisonSociale}}">
                                                            {{four.raisonSociale}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </td>
    <!--                                        <td style="width: 10%" data-title="'Date Peremption'"><input ng-model="datePeremption" name="datePeremption" value="{{ps.peremptionStock}}"  type="text" class="form-control form-control-sm text-center" required="required"></td>-->
                                            <td style="width: 10%" data-title="'Date Peremption'">
                                                <div class="form-group">
<!--                                                    <small class="text-danger">{{ps.dateTemp}}</small>-->
                                                    <input ng-model="maDate" value="{{ps.peremptionStock}}" type="date"  class="form-control form-control-sm" required="required">
                                                </div>
                                            </td>
                                            <td style="width: 10%" data-title="'Qté Comptée'">
                                                <div class="form-group">
<!--                                                    <small class="text-danger">{{ps.qteCompteStock}}</small>-->
                                                    <input ng-model="ps.qteCompteStock" name="qteCompte" type="number" class="form-control form-control-sm text-center" required="required">
                                                </div>
                                            </td>
                                            <td style="width: 10%" data-title="'Action(s)'"><button class="btn btn-pill btn-sm btn-dark"  ng-click="saveRealTraitement(ps.codeUnique,splitArray[1],ps.fournisseurStock,ps.qteCompteStock,maDate,ps.prixVenteStock);"><i class="fa fa-floppy-o"></i><b> Enreg.</b></button></td>
<!--                                            <td style="width: 10%" data-title="'Action(s)'"><button class="btn btn-pill btn-sm btn-dark"  ng-click="saveRealTraitement(ps.codeUnique,chosedParticiper,codeFournisseur,qteCompte,datePeremption,prixVente);"><i class="fa fa-floppy-o"></i><b> Enreg.</b></button></td>-->
                                        </form>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--                    quand le comptage est avec douchette-->
                    <div class="pt-2" ng-if="showForm && codeDouchette==='d'">
                        <div class="table-responsive" ng-show="produitDataDouchette!=null">
                            <table ng-table="produitsTableDouchette" style="width: 100%" class="display table table-striped" cellspacing="0">
                                <tbody>
                                    <tr style="text-align: center">

                                        <form name="dForm">
                                            <td data-title="'Code Cip'" style="width: 5%">
                                                {{produitDataDouchette.codeCip}}
                                            </td>
                                          <!--  <td data-title="'Code Unique'"  style="width: 20%">
                                                {{produitDataDouchette.codeUnique}}
                                            </td>-->
                                            <td data-title="'Produit'" style="width: 20%">
                                                {{produitDataDouchette.produit}}
                                            </td>
                                            <td style="width: 10%" data-title="'Prix Vente'">
                                                <div class="form-group-sm">
                                                    <!--                                                    <small class="text-danger">{{ps.prixVenteStock}}</small>-->
                                                    <input ng-model="produitDataDouchette.prixVenteStock" type="number" class="form-control form-control-sm text-center" required="required">
                                                </div>
                                            </td>
                                            <td style="width: 15%" data-title="'Fournisseur'">
                                                <div class="form-group">
                                                    <!--                                                    <small class="text-danger">{{ps.fournisseurStock}}</small>-->
                                                    <select class="form-control form-control-sm" ng-model="produitDataDouchette.fournisseurStock"  required="required">
                                                        <option ng-repeat="f in listFournisseurs" value="{{f.raisonSociale}}">
                                                            {{f.raisonSociale}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </td>
                                            <!--                                        <td style="width: 10%" data-title="'Date Peremption'"><input ng-model="datePeremption" name="datePeremption" value="{{ps.peremptionStock}}"  type="text" class="form-control form-control-sm text-center" required="required"></td>-->
                                            <td style="width: 10%" data-title="'Date Peremption'">
                                                <div class="form-group">
<!--                                                    <small class="text-danger">{{produitDataDouchette.peremptionStock}}</small>-->
                                                    <input ng-model="maDateD" value="{{produitDataDouchette.peremptionStock}}" type="date"  class="form-control form-control-sm" required="required">
<!--                                                    <input ng-model="produitDataDouchette.peremptionStock" value="{{produitDataDouchette.peremptionStock}}" type="date"  class="form-control form-control-sm" required="required">-->
                                                </div>
                                            </td>
                                            <td style="width: 10%" data-title="'Qté Comptée'">
                                                <div class="form-group">
                                                    <!--                                                    <small class="text-danger">{{ps.qteCompteStock}}</small>-->
                                                    <input ng-model="produitDataDouchette.qteCompteStock" type="number" class="form-control form-control-sm text-center" required="required">
                                                </div>
                                            </td>
                                            <td style="width: 10%" data-title="'Action(s)'"><button class="btn btn-pill btn-sm btn-dark" ng-click="saveRealTraitementDouchette(produitDataDouchette.codeUnique,splitArray[1],produitDataDouchette.fournisseurStock,produitDataDouchette.qteCompteStock,maDateD,produitDataDouchette.prixVenteStock);"><i class="fa fa-floppy-o"></i><b> Enreg.</b></button></td>
                                        </form>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

<!--        <h4 class="text-center" ng-if="showForm==true">Validation des lignes comptées</h4>-->

        <!-- lignes des produis comptés pour un rayon -->
        <div class="row mt-xl-3" ng-if="showForm==true">
            <div class="col-sm-12">
                <div class="card card-shadow mb-4">
                    <div class="card-header border-0">
                        <div class="custom-title-wrap bar-primary">
                            <div class="custom-title">
                                <div class="row">
                                    <div class="col-sm-4">Inventaire en cours</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="table-responsive">
                            <table ng-table="traitementsTable" class="display table table-striped justify-content-center" cellspacing="0">
                                <tbody>
                                    <tr ng-repeat="tr in data" style="text-align: center" ng-if="tr.participer.id==idPart&&tr.statut==1">
                                        <td data-title="'N° Inventaire'">{{tr.participer.inventaire.numero}}</td>
                                        <td data-title="'Localisation Concernée'">{{tr.participer.localisation.code}}</td>
                                        <td data-title="'Produit(s)'">{{tr.libelleProduit==null?tr.stockProduit.produit.libelle:tr.libelleProduit}}</td>
                                        <td data-title="'Prix Vente'" class="font-weight-bold">{{tr.prixVente | number}}</td>
                                        <td data-title="'Fournisseur'">{{tr.fournisseur.raisonSociale}}</td>
                                        <td data-title="'Date Péremption'">{{tr.datePeremption | date:'dd/MM/yyyy'}}</td>
                                        <td data-title="'Qté Comptée'" class="font-weight-bold">{{tr.qteCompte}}</td>
                                        <td data-title="'Action(s)'" ><button class="btn btn-sm btn-pill btn-dark" ng-confirm-click="Voulez-vous vraiment supprimer << {{tr.libelleProduit==null?tr.stockProduit.produit.libelle:tr.libelleProduit}} >> ?" confirmed-click="deleteTraitement(tr.id);"><i class="text-warning fa fa-trash"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        insert new product -->
        <div class="modal fade" id="param">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title text-dark text-center"> Inventorier un produit non répertorié </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="mt-2">

                            <div class="card card-shadow mb-4">
                                <div class="card-header border-0">
                                    <div class="custom-title-wrap bar-primary">
                                        <div class="custom-title">Renseignez le formulaire et validez</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form name="paramForm">
                                        <div class="row justify-content-center">
                                            <div class="col-sm-4 form-group-sm mb-2">
                                                <label>Libelle du produit</label>
                                                <input ng-model="traitement.libelleProduit" type="traitement" class="form-control form-control-sm text-center" required="required">
                                            </div>
                                            <div class="col-sm-4 form-group-sm mb-2">
                                                <label>Code CIP</label>
                                                <input ng-model="traitement.codeCip" type="text" class="form-control form-control-sm text-center" required="required">
                                            </div>
                                            <div class="col-sm-4 form-group-sm mb-2">
                                                <label>Quantité comptée</label>
                                                <input ng-model="traitement.qteCompte" type="number" class="form-control form-control-sm text-center" required="required">
                                            </div>
                                            <div class="col-sm-4 form-group-sm mb-2">
                                                <label>Quantité Disponible</label>
                                                <input ng-model="traitement.qteDisponible" type="number" class="form-control form-control-sm text-center" required="required">
                                            </div>
                                            <div class="col-sm-4 form-group-sm mb-2">
                                                <label>Date de péremption</label>
                                                <input ng-model="traitement.datePeremption" type="date" class="form-control form-control-sm text-center" required="required">
                                            </div>
                                            <div class="col-sm-4 form-group-sm mb-2">
                                                <label>Prix de vente</label>
                                                <input ng-model="traitement.prixVente" type="number" class="form-control form-control-sm text-center" required="required">
                                            </div>
                                            <div class="col-sm-4 form-group-sm mb-2">
                                                <label>Fournisseur</label>
                                                <select class="form-control form-control-sm" ng-model="traitement.fournisseur.id" required="required">
                                                    <!--                                                    <optgroup label="Sélectionnez un autre fournisseur"></optgroup>-->
                                                    <option ng-selected="four.id==ps.idFournisseur" ng-repeat="four in listFournisseurs" value="{{four.id}}">
                                                        {{four.raisonSociale}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="text-center row justify-content-center mt-4">
                                            <div class="col-sm-4">
                                                <button class="btn form-control btn-sm btn-dark btn-pill" ng-confirm-click="Enrégistrer ce produit ?" confirmed-click="saveNewTraitement();"><i class="fa fa-check fa-2x"> Valider</i></button>
<!--                                                <button class="btn form-control btn-sm btn-dark btn-pill" ng-confirm-click="Enrégistrer ce produit ?" confirmed-click="saveNewTraitement();traitement.participer.id=parseInt(splitArray[1])"><i class="fa fa-check fa-2x"> Valider</i></button>-->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
