<!--formulaire de suivi du dossier-->

<section layout:decorate="~{layout}" ng-app="pharmaxielweb" ng-controller="traitementController">

    <!--    menu de la page-->
    <span layout:fragment="custum-menu">
         <!--            menu de l'inventaire-->
        <li class="nav-item" ng-if="user.roles[0]=='AGENT' || user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="/"><i class="fa fa-home"></i>&nbsp; Accueil</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="auth"><i class="fa fa-key"></i>&nbsp; Authentification</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="inventaire"><i class="fa fa-list-ol"></i>&nbsp; Inventaires</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="chargement"><i class="fa fa-list-ol"></i>&nbsp; Chargements</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='AGENT' || user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="comptage"><i class="fa fa-adjust"></i>&nbsp; Comptage</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="ecarts"><i class="fa fa-plus"></i>&nbsp; Gestion des écarts</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light"  href="stocks"><i class="fa fa-upload"></i>&nbsp; Mise à jour du stock</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='AGENT' || user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="historique"><i class="fa fa-history"></i>&nbsp; Historiques</a>
        </li>

      </span>

    <div layout:fragment="custum-permalien" >
        <div class="row">
            <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 card-header text-center mt-3 mb-3">
                <h4 style="letter-spacing: 1px;text-transform: uppercase"> INVENTAIRE<sup>+</sup> > COMPTAGE</h4>
                <div layout:fragment="username">
                    <h4 class="text-center text-danger">{{user.nomPrenom}}</h4>
                </div>
            </div>
        </div>
    </div>

    <!--    contenu de la page-->
    <div layout:fragment="custum-content">

        <div class="row" ng-if="showForm==true">
            <div class="col-xl-4 col-sm-4">
                <button class="btn btn-dark btn-pill mb-2" ng-click="toggleForm();listTraitement()"><i class="fa fa-edit fa-2x"></i> Cliquez pour choisir une localisation</button>
            </div>
        </div>

        <!--        formulaire de gestion-->
        <div class="mt-2" ng-show="showForm==false">
            <div class="card card-shadow mb-4">
                <div class="card-header border-0">
                    <div class="custom-title-wrap bar-primary">
                        <div class="custom-title">Comptage</div>
                    </div>
                </div>
                <div class="card-body">
                    <form name="fnForm">
                        <div class="row justify-content-around">
                            <div class="col-sm-3 form-group-sm">
                                <h1>{{userInventaire.numero}}</h1>
                                <h4 class="text-danger" ng-if="userInventaire.numero==null">Désolé, vous n'avez aucun inventaire actif !</h4>
                            </div>
                            <div class="col-sm-5 form-group-sm mb-2">
                                <label><span class="text-danger">*</span> Localisation</label>
                                <select class="form-control form-control-sm" name="chosedParticiper" ng-model="chosedParticiper" required="required">
                                    <optgroup label="Sélectionnez une localisation"></optgroup>
                                    <option ng-repeat="opt in participerByUser" value="{{opt.id}}">
                                        {{opt.localisation.libelle}}
                                    </option>
                                </select>
                                <label class="text-danger" ng-show="participerByUser==null">Champ requis</label>
                            </div>
                            <div class="col-sm-2 form-group-sm mb-2">
                                <button class="btn btn-sm btn-pill btn-outline-dark mt-3" ng-if="userInventaire.numero!=null" ng-click="toggleForm();countedList(chosedParticiper);"><i class="fa fa-cogs fa-2x"></i> <b>Compter</b></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--        tableau de gestion -->
        <div class="row mt-xl-3" ng-if="showForm==false">
            <div class="col-sm-12">
                <div class="card card-shadow mb-4">
                    <div class="card-header border-0">
                        <div class="custom-title-wrap bar-primary">
                            <div class="custom-title">
                                <div class="row">
                                    <div class="col-sm-4">Suivi Du Comptage</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="table-responsive">
                            <table ng-table="traitementsTable" class="display table table-striped" cellspacing="0">
                                <tbody>
                                    <tr ng-repeat="t in data" style="text-align: center" ng-if="t.participer.id==chosedParticiper">
<!--                                        <td style="width: 10%;text-align: center;" sortable="'id'" data-title="'N°'">{{$index + 1}}</td>-->
                                        <td data-title="'N° Inventaire'">{{t.participer.inventaire.numero}}</td>
                                        <td data-title="'Localisation Concernée'">{{t.participer.localisation.code}}</td>
                                        <td data-title="'Produit(s)'">{{t.stockProduit.produit.libelle}}</td>
                                        <td data-title="'Fournisseur'">{{t.fournisseur.raisonSociale}}</td>
                                        <td data-title="'Date Péremption'">{{t.datePeremption}}</td>
                                        <td data-title="'Quantité Inventoriée'" class="font-weight-bold">{{t.qteCompte}}</td>
                                        <td data-title="'Action(s)'" ><button class="btn btn-sm btn-pill btn-dark" ng-confirm-click="Voulez-vous vraiment supprimer << {{t.stockProduit.produit.libelle}} >> ?" confirmed-click="deleteTraitement(t.id);"><i class="text-warning fa fa-trash"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--        tableau de comptage -->
        <div class="row mt-xl-3" ng-if="showForm==true">
            <div class="col-sm-12">
                <div class="card card-shadow mb-4">
                    <div class="card-header border-0">
                        <div class="custom-title-wrap bar-primary">
                            <div class="custom-title">
                                <div class="row">
                                    <div class="col-sm-4">Recherchez un produit</div>
                                    <div class="col-sm-4"><i data-toggle="modal" data-target="#param" class="fa fa-plus-circle fa-3x text-success"></i></div>

                                   <!-- <div class="text-center m-2">
                                        <input type="search" class="form-control" placeholder="Nom du produit" list="plist" ng-model="search.produit.libelle"/>
                                    </div>
                                    <datalist id="plist">
                                        <option ng-repeat="opt in listStockProduit | filter:search" value="{{opt.codeUnique}}">
                                            {{opt.produit.libelle}} ==> {{opt.codeUnique}}
                                        </option>
                                    </datalist>-->
                                    <!--<div class="col-sm-5">
                                        <select class="form-control form-control-sm"  ng-model="codeUnique" ng-change="aCompter(codeUnique);" required="required">
                                            <optgroup label="Sélectionnez un produit"></optgroup>
                                            <option ng-repeat="opt in listStockProduit" value="{{opt.codeUnique}}">
                                                {{opt.produit.libelle}} ==> {{opt.codeUnique}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3 text-right">
                                        <button class="btn btn-pill btn-sm btn-outline-dark" ng-click="reset();codeUnique=null"><i class="fa fa-times"></i> <b>Annuler</b></button>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-2" ng-if="showForm">
                        <div class="table-responsive">
                            <table ng-table="produitsTable" style="width: 100%" class="display table table-striped justify-content-center" cellspacing="0">
                                <tbody>
                                    <!--<div class="text-center m-2">
                                        <input type="search" class="form-control col-sm-4" placeholder="Nom du produit" ng-model="search"/>
                                    </div>-->
<!--                                    <tr ng-repeat="ps in dataP | filter:search track by ps.produit.libelle" style="text-align: center">-->
                                    <tr ng-repeat="ps in dataP" style="text-align: center">
                                        <td style="width: 10%;text-align: center;" sortable="'id'" data-title="'N°'">{{$index + 1}}</td>
                                        <td data-title="'Code Cip'" style="width: 5%" filter="{ 'codeCip' : 'text'}">{{ps.codeCip}}</td>
                                        <td data-title="'Produit'" style="width: 35%" filter="{ 'produit' : 'text'}">{{ps.produit}}</td>
                                        <form name="cForm">
                                            <td style="width: 10%" data-title="'Prix Vente'"><input ng-model="prixVente" name="prixVente" type="number" class="form-control form-control-sm text-center" required="required"></td>
<!--                                            <td data-title="'fournisseur'" >{{ps.idFournisseur}}</td>-->
                                            <td style="width: 15%" data-title="'Fournisseur'">
                                                <select class="form-control form-control-sm" ng-model="codeFournisseur"  name="codeFournisseur" required="required">
<!--                                                    <optgroup label="Sélectionnez un autre fournisseur"></optgroup>-->
                                                    <option ng-selected="four.id==ps.idFournisseur" ng-repeat="four in listFournisseurs" value="{{four.id}}" >
                                                        {{four.raisonSociale}}
                                                    </option>
                                                </select>
                                            </td>
                                            <td style="width: 10%" data-title="'Date Peremption'"><input ng-model="datePeremption" name="datePeremption" type="date" class="form-control form-control-sm text-center" required="required"></td>
                                            <td style="width: 10%" data-title="'Quantité Comptée'"><input ng-model="qteCompte" name="qteCompte"  type="number" class="form-control form-control-sm text-center" required="required"></td>
                                            <td style="width: 10%" data-title="'Action(s)'"><button class="btn btn-pill btn-sm btn-dark"  ng-click="saveRealTraitement(ps.codeUnique,chosedParticiper,codeFournisseur,qteCompte,datePeremption,prixVente);"><i class="fa fa-floppy-o"></i><b> Enreg.</b></button></td>
                                        </form>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--<div class="table-responsive">
                            <table class="display table table-striped" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Code Cip</th>
                                        <th>Libellé</th>
                                        <th>Prix Vente</th>
                                        <th>Fournisseur</th>
                                        <th>Date Péremption</th>
                                        <th>Qté Comptée</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{stockProduit.produit.codeProduit}}</td>
                                        <td>{{stockProduit.produit.libelle}}</td>
                                        <form name="cForm">
                                            <td style="width: 10%"><input ng-model="prixVente" type="number" class="form-control form-control-sm text-center" required="required"></td>
                                            <td style="width: 15%">
                                                <select class="form-control form-control-sm" ng-model="codeFournisseur" required="required">
                                                    <optgroup label="Sélectionnez un autre fournisseur"></optgroup>
                                                    <option ng-repeat="four in listFournisseurs" value="{{four.id}}">
                                                        {{four.raisonSociale}}
                                                    </option>
                                                </select>
                                            </td>
                                            <td style="width: 10%"><input ng-model="datePeremption"  type="date" class="form-control form-control-sm text-center" required="required"></td>
                                            <td style="width: 10%"><input ng-model="qteCompte"  type="number" class="form-control form-control-sm text-center" required="required"></td>
                                            <td style="width: 10%"><button type="submit" class="btn btn-pill btn-sm btn-outline-dark"  ng-click="saveRealTraitement(codeUnique,chosedParticiper,codeFournisseur,qteCompte,datePeremption,prixVente);"><i class="fa fa-floppy-o"></i><b> Enreg.</b></button></td>
                                        </form>
                                    </tr>
                                </tbody>
                            </table>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>

<!--        <h4 class="text-center" ng-if="showForm==true">Validation des lignes comptées</h4>-->

        <!-- lignes des produis comptés pour un rayon -->
        <div class="row mt-xl-3" ng-if="showForm==true">
            <div class="col-sm-12">
                <div class="card card-shadow mb-4">
                    <div class="card-header border-0">
                        <div class="custom-title-wrap bar-primary">
                            <div class="custom-title">
                                <div class="row">
                                    <div class="col-sm-4">Inventaire en cours</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="table-responsive">
                            <table ng-table="traitementsTable" class="display table table-striped justify-content-center" cellspacing="0">
                                <tbody>
                                    <tr ng-repeat="tr in data" style="text-align: center" ng-if="tr.participer.id==chosedParticiper&&tr.statut==1">
                                        <td style="width: 10%;text-align: center;" sortable="'index'" data-title="'N°'">{{$index + 1}}</td>
                                        <td data-title="'N° Inventaire'">{{tr.participer.inventaire.numero}}</td>
                                        <td data-title="'Localisation Concernée'">{{tr.participer.localisation.code}}</td>
                                        <td data-title="'Produit(s)'">{{tr.stockProduit.produit.libelle}}</td>
                                        <td data-title="'Prix Vente'" class="font-weight-bold">{{tr.stockProduit.prixVente | number}}</td>
                                        <td data-title="'Fournisseur'">{{tr.fournisseur.raisonSociale}}</td>
                                        <td data-title="'Date Péremption'">{{tr.datePeremption}}</td>
                                        <td data-title="'Quantité Comptée'" class="font-weight-bold">{{tr.qteCompte}}</td>
                                        <td data-title="'Action(s)'" ><button class="btn btn-sm btn-pill btn-dark" ng-confirm-click="Voulez-vous vraiment supprimer << {{tr.stockProduit.produit.libelle}} >> ?" confirmed-click="deleteTraitement(tr.id);"><i class="text-warning fa fa-trash"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        insert new product -->
        <div class="modal fade" id="param">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title text-dark text-center"> Inventorier un produit non répertorié </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="mt-2">

                            <div class="card card-shadow mb-4">
                                <div class="card-header border-0">
                                    <div class="custom-title-wrap bar-primary">
                                        <div class="custom-title">Renseignez le formulaire et validez</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form name="paramForm">
                                        <div class="row justify-content-center">

                                            <div class="col-sm form-group-sm mb-2">
                                                <label>Code Cip</label>
                                                <input ng-model="codeCip" name="codeCip" type="number" class="form-control form-control-sm text-center" required="required">
                                            </div>

                                            <div class="col-sm form-group-sm mb-2">
                                                <label>Libelle du produit</label>
                                                <input ng-model="libelleProduit" name="libelleProduit" type="number" class="form-control form-control-sm text-center" required="required">
                                            </div>

                                            <div class="col-sm form-group-sm mb-2">
                                                <label>Fournisseur</label>
                                                <select class="form-control form-control-sm" ng-model="codeFournisseur"  name="codeFournisseur" required="required">
                                                    <!--                                                    <optgroup label="Sélectionnez un autre fournisseur"></optgroup>-->
                                                    <option ng-selected="four.id==ps.idFournisseur" ng-repeat="four in listFournisseurs" value="{{four.id}}" >
                                                        {{four.raisonSociale}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm form-group-sm mb-2">
                                                <label>Prix de vente</label>
                                                <input ng-model="prixVente" name="prixVente" type="number" class="form-control form-control-sm text-center" required="required">
                                            </div>
                                            <div class="col-sm form-group-sm mb-2">
                                                <label>Date de péremption</label>
                                                <input ng-model="datePeremption" name="datePeremption" type="date" class="form-control form-control-sm text-center" required="required">
                                            </div>
                                            <div class="col-sm form-group-sm mb-2">
                                                <label>Quantité comptée</label>
                                                <input ng-model="qteCompte" name="qteCompte"  type="number" class="form-control form-control-sm text-center" required="required">
                                            </div>

                                        </div>
                                        <div class="text-center row justify-content-center mt-4">
                                            <div class="col-sm">
                                                <button class="btn form-control btn-sm btn-dark btn-pill" ng-confirm-click="Enrégistrer ce produit ?" confirmed-click=""><i class="fa fa-check fa-2x"> Valider</i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="card card-shadow mb-4">
                            <div class="card-header border-0">
                                <div class="custom-title-wrap bar-primary">
                                    <div class="custom-title">Affectations</div>
                                </div>
                            </div>
                            <div class="pt-2">
                                <div class="table-responsive">
                                    <table ng-table="participationsTable" class="display table table-striped" cellspacing="0">
                                        <tbody>
                                        <tr ng-repeat="p in dat">
                                            <td style="width: 10%;text-align: center;" sortable="'id'" data-title="'N°'" filter="{ 'id' : 'text'}">{{$index + 1}}</td>
                                            <td sortable="'p.appUser.nomPrenom'" data-title="'Utilisateur(s)'" filter="{ 'p.appUser.nomPrenom' : 'text'}">{{p.appUser.nomPrenom}}</td>
                                            <td sortable="'p.inventaire.numero'" data-title="'Inventaire(s)'" filter="{ 'p.inventaire.numero' : 'text'}">{{p.inventaire.numero}}</td>
                                            <td style="width: 10%;text-align: center;" sortable="'p.localisation.code'" data-title="'Localisation(s)'" filter="{ 'p.localisation.code' : 'text'}">{{p.localisation.code}}</td>
                                            <td style="width: 5%;text-align: center;" data-title="'Action'" ><button class="btn btn-sm btn-pill btn-dark" ng-confirm-click="Voulez-vous supprimer l'affectation de << {{ p.appUser.nomPrenom }} >> à la localisation << {{p.localisation.libelle}} >> ?" confirmed-click="deleteParticiper(p.id)" ><i class="fa fa-times"></i></button></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div class="text-center">
                            <!--            validation-->
                            <a class="btn btn-sm btn-pill mb-2 text-light btn-dark" data-dismiss="modal"><i class="fa fa-times fa-2x"></i> Fermer cette fenetre</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>
