<!--formulaire de suivi du dossier-->

<section layout:decorate="~{layout}" ng-app="pharmaxielweb" ng-controller="ecartsController">

  <!--    menu de la page-->
    <span layout:fragment="custum-menu">
         <!--            menu de l'inventaire-->
        <li class="nav-item">
            <a class="nav-link text-light" href="/"><i class="fa fa-home"></i>&nbsp; Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="auth"><i class="fa fa-key"></i>&nbsp; Authentification</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="inventaire"><i class="fa fa-list-ol"></i>&nbsp; Inventaire</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="comptage"><i class="fa fa-adjust"></i>&nbsp; Comptage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="ecarts"><i class="fa fa-plus"></i>&nbsp; Gestion des écarts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light"  href="stocks"><i class="fa fa-upload"></i>&nbsp; Mise à jour du stock</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="historique"><i class="fa fa-history"></i>&nbsp; Historiques</a>
        </li>

      </span>

  <div layout:fragment="custum-permalien" >
    <div class="row">
      <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 card-header text-center mt-3 mb-3">
        <h4 style="letter-spacing: 1px;text-transform: uppercase"> INVENTAIRE<sup>+</sup> > GESTION DES ECARTS</h4>
        <!--        <h6 style="letter-spacing: 1px;">Veuillez sélectionner une application</h6>-->
      </div>
    </div>

  </div>

  <!--    contenu de la page-->
    <!--    contenu de la page-->
    <div layout:fragment="custum-content">

        <div class="row" ng-if="showForm==true">
            <div class="col-xl-4 col-sm-4">
                <button class="btn btn-dark btn-pill" ng-click="toggleForm()"><i class="fa fa-edit fa-2x"></i> Cliquez pour gérer les écarts</button>
            </div>
        </div>

        <!--        formulaire de gestion-->
        <div class="mt-2" ng-if="showForm==false">
            <div class="card card-shadow mb-4">
                <div class="card-header border-0">
                    <div class="custom-title-wrap bar-primary">
                        <div class="custom-title">Paramètre des écarts</div>
                    </div>
                </div>
                <div class="card-body">
                    <form name="fnForm">
                        <div class="row justify-content-around">
                            <div class="col-sm-4 form-group-sm mb-2">
                                <h1 class="text-dark mt-3">INV-2023-0001</h1>
                            </div>
                            <div class="col-sm-4 form-group-sm mb-2">
                                <label>Sélectionnez la localisation à gérer</label>
                                <select class="form-control form-control-sm">
                                    <optgroup label="Faites une sélection">
                                        <option>R-1</option>
                                        <option>R-2</option>
                                        <option>R-3</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="col-sm-2 form-group-sm mb-2">
                                <button class="btn btn-sm btn-pill btn-outline-dark form-control mt-3" ng-click="toggleForm()"><i class="fa fa-cogs fa-2x"></i> <b>Compter</b></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--        tableau de gestion -->
        <div class="row mt-xl-3" ng-if="showForm==true">
            <div class="col-sm-12">
                <div class="card card-shadow mb-4">
                    <div class="card-header border-0">
                        <div class="custom-title-wrap bar-primary">
                            <div class="custom-title">
                                <div class="row">
                                    <div class="col-sm-4">Ligne de gestion</div>
                                    <div class="col-sm-4"><input type="search" class="form-control text-center form-control-sm mt-1" placeholder="Critère de contrôle"></div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-pill btn-sm btn-dark form-control"><i class="fa fa-search"></i> <b>Chercher</b></button>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-pill btn-sm btn-outline-dark form-control"><i class="fa fa-times"></i> <b>Annuler</b></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="table-responsive">
                            <table ng-table="comptagesTable" class="display table table-striped" cellspacing="0">
                                <tbody ng-show="">
                                <tr ng-repeat="i in data">
                                    <td style="width: 2%;text-align: center;" sortable="'id'" data-title="'N'" filter="{ 'id' : 'text'}">{{$index + 1}}</td>
                                    <td sortable="''" data-title="'Localisation concernée'" filter="{ 'nomStructure' : 'text'}">{{}}</td>
                                    <td sortable="''" data-title="'Produit(s)'" filter="{ 'nomStructure' : 'text'}">{{}}</td>
                                    <td style="width: 2%;text-align: center;" sortable="''" data-title="'Quantité Inventoriée'" filter="{ 'reference' : 'text'}"><input type="number" class="form-control" value="0" ></td>
                                    <td data-title="'Action'" ><button class="btn btn-pill btn-dark"><i class="fa fa-edit"></i> Valider</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
