<!--Page d'inventaire et comptage-->

<section layout:decorate="~{layout}" ng-app="pharmaxielweb" ng-controller="inventaireController">

    <!--    menu de la page-->
    <span layout:fragment="custum-menu">
         <!--            menu de l'inventaire-->
        <li class="nav-item" ng-if="user.roles[0]=='AGENT' || user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="/"><i class="fa fa-home"></i>&nbsp; Accueil</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="auth"><i class="fa fa-key"></i>&nbsp; Authentification</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="chargement"><i class="fa fa-list-ol"></i>&nbsp; Chargements</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="inventaire"><i class="fa fa-list-ol"></i>&nbsp; Inventaires</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='AGENT' || user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="comptage"><i class="fa fa-adjust"></i>&nbsp; Comptage</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="suivi"><i class="fa fa-pie-chart"></i>&nbsp; Suivi du comptage</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="ecarts"><i class="fa fa-plus"></i>&nbsp; Gestion des écarts</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light"  href="stocks"><i class="fa fa-upload"></i>&nbsp; Fichier de mise à jour</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='AGENT' || user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="historique"><i class="fa fa-history"></i>&nbsp; Historiques</a>
        </li>
    </span>

      <div layout:fragment="custum-permalien" >
        <div class="row">
          <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 card-header text-center mt-3 mb-3">
              <h4 style="letter-spacing: 1px;text-transform: uppercase"> INVENTAIRE<sup>+</sup> > INVENTAIRES</h4>
              <div layout:fragment="username">
                  <h4 class="text-center text-danger">{{user.nomPrenom}}</h4>
              </div>
          </div>
        </div>
      </div>

  <!--    contenu de la page-->
    <div layout:fragment="custum-content">

        <!--        bouton d'action -->
        <div class="row" ng-if="showForm==false">
            <div class="col-xl-4 col-sm-4">
                <button class="btn btn-dark btn-pill mb-2" ng-click="toggleForm()"><i class="fa fa-edit fa-2x"></i> Cliquez pour créer une ligne d'inventaire</button>
            </div>
        </div>

        <!--        formulaire de gestion-->
        <div class="mt-2" ng-if="showForm==true">
            <div class="card card-shadow mb-4">
                <div class="card-header border-0">
                    <div class="custom-title-wrap bar-primary">
                        <div class="custom-title">Création d'un inventaire</div>
                    </div>
                </div>
                <div class="card-body">
                    <form name="fnForm">
                        <div class="row justify-content-center">
                            <div class="col-sm-4 form-group-sm mb-2">
                                <label>Libellé</label>
                                <input type="text" name="libelle" ng-model="inventaire.libelle" placeholder="Libellé de l'inventaire" class="form-control form-control-sm" required>
                            </div>
                            <div class="col-sm-4 form-group-sm mb-2">
                                <label>Afficher la Qté en base ? {{inventaire.showQteStock}}</label>
                                <select class="form-control form-control-sm" ng-model="inventaire.showQteStock">
                                    <optgroup label="Sélectionnez une reponse">
                                        <option value="oui">Oui</option>
                                        <option value="non">Non</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="text-center row justify-content-center mt-4">
                            <div class="col-sm-2">
                                <button class="btn form-control btn-sm btn-dark btn-pill" ng-disabled="inventaire.libelle==null||inventaire.showQteStock==null" ng-confirm-click="Voulez-vous vraiment céer cette ligne d'inventaire ?" confirmed-click="createInventaire();"><i class="fa fa-check fa-2x"></i> <b> Valider </b> </button>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn form-control btn-sm btn-outline-dark btn-pill" ng-click="toggleForm();resetInventaire()"><i class="fa fa-times fa-2x"></i> <b>Annuler/ Fermer</b></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--        tableau de gestion -->
        <div class="row mt-xl-3">
            <div class="col-sm-12">
                <div class="card card-shadow mb-4">
                    <div class="card-header border-0">
                        <div class="custom-title-wrap bar-primary">
                            <div class="custom-title">Liste Des Inventaires</div>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="table-responsive">
                            <table ng-table="inventairesTable" class="display table table-striped" cellspacing="0">
                                <tbody>
                                    <tr ng-repeat="i in data" >
                                        <td style="width: 5%;text-align: center;" data-title="'N°'">{{$index + 1}}</td>
                                        <td sortable="'numero'" data-title="'N° d\'inventaire'" filter="{ 'numero' : 'text'}">{{i.numero}}</td>
                                        <td sortable="'libelle'" data-title="'Libellé de l\'inventaire'" filter="{ 'libelle' : 'text'}">{{i.libelle}}</td>
                                        <td style="width: 10%;text-align: center;" sortable="'statut'"  data-title="'Statut'">
                                            <button ng-show="i.statut==false" ng-click="activeOrDesactivate(i.id);" class="btn btn-pill btn-sm btn-light text-danger"><b>cloturé</b></button>
                                            <button ng-show="i.statut==true" ng-click="activeOrDesactivate(i.id);" class="btn btn-pill btn-sm btn-light text-success"><b>En cours</b></button>
                                        </td>
                                        <td  data-title="'Qté en base'" >{{i.showQteStock=='oui'?"Oui":"Non"}}</td>
                                        <td sortable="'date'"  data-title="'Date de création'" filter="{ 'date' : 'text'}">{{i.date}}</td>
                                        <td style="width: 25%;text-align: center;" data-title="'Action'" >
                                            <button class="btn btn-pill btn-sm btn-dark" ng-click="editInventaire(i.id);toggleForm();" ng-disabled="i.statut==true"><i class="fa fa-edit"></i> Editer</button>
                                            <button data-toggle="modal" data-target="#param" ng-click="editInventaire(i.id);" ng-disabled="i.statut==false" class="btn btn-dark btn-sm btn-pill"><i class="fa fa-cog"></i> Paramétrage</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--  modale de parametrage-->
        <div class="modal fade" id="param">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title text-dark text-center">Paramétrage des participants aux inventaires  </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="mt-2">

                            <div class="card card-shadow mb-4">
                                <div class="card-header border-0">
                                    <div class="custom-title-wrap bar-primary">
                                        <div class="custom-title">Paramétrage</div>
                                    </div>
                                    <div class="custom-title-wrap text-center">
                                        <div class="custom-title"><h1>{{inventaire.numero}}</h1></div>
                                        <div class="custom-title"><h5>{{inventaire.libelle}}</h5></div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form name="paramForm">
                                        <div class="row justify-content-center">
                                            <div class="col-sm form-group-sm mb-2">
                                                <label>Sélectionnez un utilisateur</label>
                                                <select class="form-control form-control-sm" ng-model="participerUserId" required="required">
                                                    <optgroup label="Utilisateurs"></optgroup>
                                                    <option ng-repeat="opt in listUsersActif" value="{{opt.id}}">
                                                        {{opt.nomPrenom}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm form-group-sm mb-2">
                                                <label>Sélectionnez une localisation</label>
                                                <select class="form-control form-control-sm" ng-model="participerRayonId" required="required">
                                                    <optgroup label="Localisations"></optgroup>
                                                    <option ng-repeat="opt in listRayons" value="{{opt.id}}">
                                                        {{opt.libelle}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="text-center row justify-content-center mt-4">
                                            <div class="col-sm">
                                                <button class="btn form-control btn-sm btn-dark btn-pill" ng-click="createParticiper(participerUserId,inventaire.id,participerRayonId);"><i class="fa fa-check fa-2x"></i> <b>Affecter la localisation</b> </button>
                                            </div>
                                            <div class="col-sm">
                                                <button class="btn form-control btn-sm btn-outline-dark btn-pill" ng-click="participerUserId=null;participerRayonId=null"><i class="fa fa-times fa-2x"></i> <b>Annuler</b></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="card card-shadow mb-4">
                            <div class="card-header border-0">
                                <div class="custom-title-wrap bar-primary">
                                    <div class="custom-title">Affectations</div>
                                </div>
                            </div>
                            <div class="pt-2">
                                <div class="table-responsive">
                                    <table ng-table="participationsTable" class="display table table-striped" cellspacing="0">
                                        <tbody>
                                            <tr ng-repeat="p in dat" ng-if="p.inventaire.numero==inventaire.numero">
    <!--                                            <td style="width: 10%;text-align: center;" sortable="'id'" data-title="'N°'" filter="{ 'id' : 'text'}">{{$index + 1}}</td>-->
                                                <td sortable="'p.appUser.nomPrenom'" style="width: 25%;" data-title="'Utilisateur(s)'" filter="{ 'p.appUser.nomPrenom' : 'text'}">{{p.appUser.nomPrenom}}</td>
                                                <td sortable="'p.inventaire.numero'" style="width: 25%;" data-title="'Inventaire(s)'" filter="{ 'p.inventaire.numero' : 'text'}">{{p.inventaire.numero}}</td>
                                                <td style="width: 40%;text-align: center;" sortable="'p.localisation.code'" data-title="'Localisation(s)'" filter="{ 'p.localisation.code' : 'text'}">{{p.localisation.code}}</td>
                                                <td style="width: 10%;text-align: center;" data-title="'Action'" ><button class="btn btn-sm btn-pill btn-dark" ng-confirm-click="Voulez-vous supprimer l'affectation de << {{ p.appUser.nomPrenom }} >> à la localisation << {{p.localisation.libelle}} >> ?" confirmed-click="deleteParticiper(p.id)" ><i class="fa fa-times"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div class="text-center">
                           <!--            validation-->
                            <a class="btn btn-sm btn-pill mb-2 text-light btn-dark" data-dismiss="modal"><i class="fa fa-times fa-2x"></i> Fermer cette fenetre</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</section>
