<!--formulaire de suivi du dossier-->

<section layout:decorate="~{layout}" ng-app="pharmaxielweb" ng-controller="historiqueController">

    <!--    menu de la page-->
    <span layout:fragment="custum-menu">
         <!--            menu de l'inventaire-->
        <li class="nav-item" ng-if="user.roles[0]=='AGENT' || user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="/"><i class="fa fa-home"></i>&nbsp; Accueil</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="auth"><i class="fa fa-key"></i>&nbsp; Authentification</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="chargement"><i class="fa fa-list-ol"></i>&nbsp; Chargements</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="inventaire"><i class="fa fa-list-ol"></i>&nbsp; Inventaires</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='AGENT' || user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="comptage"><i class="fa fa-adjust"></i>&nbsp; Comptage</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="suivi"><i class="fa fa-pie-chart"></i>&nbsp; Suivi du comptage</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="ecarts"><i class="fa fa-plus"></i>&nbsp; Gestion des écarts</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light"  href="stocks"><i class="fa fa-upload"></i>&nbsp; Fichier de mise à jour</a>
        </li>
        <li class="nav-item ml-sm-2 ml-lg-4" ng-if="user.roles[0]=='AGENT' || user.roles[0]=='ADMIN' || user.roles[0]=='GESSYS'">
            <a class="nav-link text-light" href="historique"><i class="fa fa-history"></i>&nbsp; Historiques</a>
        </li>
    </span>

    <div layout:fragment="custum-permalien" >
        <div class="row">
            <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 card-header text-center mt-3 mb-3">
                <h4 style="letter-spacing: 1px;text-transform: uppercase"> INVENTAIRE<sup>+</sup> > SUIVI DE COMPTAGE</h4>
                <!--        <h6 style="letter-spacing: 1px;">Veuillez sélectionner une application</h6>-->
            </div>
        </div>

    </div>

    <!--    contenu de la page-->
    <div layout:fragment="custum-content">

        <div class="row mt-2 justify-content-around" ng-show="showForm==false">
            <div class=" col-sm-5 col-lg-5 card card-shadow mb-4">
                <div class="card-header border-0">
                    <div class="custom-title-wrap bar-primary">
                        <div class="custom-title">Suivi de comptage </div>
                    </div>
                </div>
                <div class="card-body">
                    <form name="fnForm">
                        <div class="row justify-content-between">
                            <!--                            liste des inventaires -->
                            <div class="col-sm-12 col-lg-8 form-group-sm mb-2">
                                <label><span class="text-danger">*</span> Choisissez un inventaire pour le suivi</label>
                                <select class="form-control form-control-sm" name="inv" ng-model="chosedInventaireNumero" ng-change="statistiqueParLocalisation(chosedInventaireNumero);"  required="required">
                                    <optgroup label="Sélectionnez un inventaire"></optgroup>
                                    <option ng-repeat="opt in allInventaire" value="{{opt.numero}}" >
                                        {{opt.numero}}
                                    </option>
                                </select>
                                <label class="text-danger" ng-show="fnForm.inv.$invalid">Champ requis</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-sm-6 col-lg-6 card card-shadow mb-4" ng-if="chosedInventaireNumero==null">
                <h5 class="text-center alert alert-warning" style="margin-top: 10%;"> Choisissez un inventaire pour afficher ce contenu !</h5>
            </div>

            <div class="col-sm-6 col-lg-6 card card-shadow mb-4" ng-if="chosedInventaireNumero">
                <div class="card-header border-0">
                    <div class="custom-title-wrap bar-primary">
                        <div class="custom-title">
                            <div class="row">
                                <div class="col-sm-8">Suivi du comptage <i class="text-warning fa fa-pie-chart fa-2x"></i></div>
                                <div class="col-sm-4"><button class="btn btn-dark btn-sm btn-pill form-control" ng-click="statistiqueParLocalisation(chosedInventaireNumero);"><i class="fa fa-rotate-right"></i> Actualiser </button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="table-responsive">
                        <table class="display table table-striped" cellspacing="0">
                            <tbody>
                            <tr class="bg-dark text-light">
                                <th>Localisation</th>
                                <th>Nb inventorié</th>
                                <th>Nb total</th>
                                <th class="text-right">Taux d'inventaire</th>
                            </tr>
                            <tr ng-repeat="t in localisationsAndStats ">
                                <td>
                                    <h4>{{t.localisation}}</h4>
                                </td>
                                <td>
                                    <h4>{{t.nombreCompte}}</h4>
                                </td>
                                <td>
                                    <h4>{{t.nombreEnBase}}</h4>
                                </td>
                                <td class="text-right">
                                    <h3>{{t.etat}} <i class="text-warning fa fa-percent"></i></h3>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--        Formulaire de gestion -->
        <!--      <img src="assets/img/OIP.jpg" width="300px" height="300px" alt="Site en construction">-->
    </div>

</section>
